<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="A quote generator website built for practicing coding. Just click the button and try your luck."
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
    crossorigin="anonymous"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500&family=Kalam&display=swap"
    rel="stylesheet"
  />
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
  <link rel="stylesheet" href="/css/main.css" />
  <title>
    Random Quotes | <%= typeof page != 'undefined' ? page: 'Home' %>
  </title>
</head>
