<div class="row d-flex justify-content-center align-items-center">
  <div class="col-lg-10 col-md-12 col-sm-12">
    <header
      class="
        d-flex
        justify-content-between
        align-items-center
        mb-5
        flex-column-reverse flex-lg-row
      "
    >
      <button class="btn btn-primary">Generate Quote</button>
      <div class="menu flex-grow-1">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid justify-content-center">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span
                ><svg
                  width="30"
                  height="19"
                  viewBox="0 0 30 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <rect
                    width="30"
                    height="4.32692"
                    rx="2.16346"
                    fill="#01BAFF"
                  />
                  <rect
                    y="7.21155"
                    width="30"
                    height="4.32692"
                    rx="2.16346"
                    fill="#01BAFF"
                  />
                  <rect
                    y="14.4231"
                    width="30"
                    height="4.32692"
                    rx="2.16346"
                    fill="#01BAFF"
                  />
                </svg>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul
                class="
                  justify-content-evenly
                  navbar-nav
                  flex-grow-1
                  text-center
                  py-2
                "
              >
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/"
                    >Today's Quote</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div id="logo">
        <img
          src="images/logo.jpg"
          alt="Random Quotes Logo"
          width="130"
          height="130"
        />
      </div>
    </header>
  </div>
</div>
