<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {page: 'About'}); %>
  <body class="container my-4 container my-4 d-flex flex-column">
    <%- include('../partials/header'); %>
    <main class="row d-flex justify-content-center my-5">
      <div class="col-lg-10 col-md-12 col-sm-12 quote-content">
        <div id="avatar">
          <img src="images/favicon.png" alt="" class="img-fluid about-img" />
        </div>
        <blockquote>
          A simple website that generates random quotes created to practice
          HTML5, CSS3, Bootstrap, JavaScript, EJS and Node.js. More features
          coming soon!
          <cite class="pt-3">Random Quotes</cite>
        </blockquote>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
