<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {page: 'Contact'}); %>
  <body class="container my-4 container my-4 d-flex flex-column">
    <%- include('../partials/header'); %>
    <main class="row d-flex justify-content-center my-5">
      <div class="col-lg-10 col-md-12 col-sm-12 quote-content">
        <div id="avatar">
          <img src="images/yasmin.jpeg" alt="" class="img-fluid" />
        </div>
        <p class="main-content">You can follow me at:</p>
        <div class="icons-holder">
          <a href="https://www.linkedin.com/in/yasminkhalaf/"
            ><img
              src="images/linkedin.png"
              width="50"
              height="50"
              alt="Linkedin"
          /></a>
          <a href="https://github.com/yasmink88"
            ><img src="images/github.png" width="50" height="50" alt="Linkedin"
          /></a>
          <a href="https://codepen.io/yasmink88"
            ><img
              src="images/codepen.png"
              width="50"
              height="50"
              alt="Linkedin"
          /></a>
          <a href="https://www.instagram.com/yasminkhalaf88/"
            ><img
              src="images/instagram.png"
              width="50"
              height="50"
              alt="Linkedin"
          /></a>
        </div>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
