<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body class="container my-4 container my-4 d-flex flex-column">
    <%- include('../partials/header'); %>
    <main class="row d-flex justify-content-center my-5">
      <div class="col-lg-10 col-md-12 col-sm-12 quote-content">
        <div id="avatar">
          <img src="images/bill-gates.jpg" alt="" class="img-fluid" />
        </div>
        <blockquote>
          Until we're educating every kid in a fantastic way, until every inner
          city is cleaned up, there is no shortage of things to do.
          <cite class="pt-3">Bill Gates</cite>
        </blockquote>
      </div>
    </main>
    <%- include('../partials/footer'); %>
  </body>
</html>
